PONDER_RPC_URL_420420417=https://eth-rpc-testnet.polkadot.io/
PONDER_LOW_MEMORY=false
PONDER_ENABLE_TREASURY=true
PONDER_START_BLOCK_TREASURY=7616012
PONDER_START_BLOCK_ESCROW=7622561
PONDER_START_BLOCK_REPUTATION=7622659
PONDER_TREASURY_POLICY_ADDRESS=0xYourTreasuryPolicy
PONDER_ESCROW_CORE_ADDRESS=0xYourEscrowCore
PONDER_AGENT_ACCOUNT_ADDRESS=0xYourAgentAccountCore
PONDER_REPUTATION_SBT_ADDRESS=0xYourReputationSbt
